body {
  text-align: center;
}

#drink-img {
  border-radius: 20%;
  max-width: 40%;
  height: auto;
  padding: 10px;
}
#header-carousel {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}



ul {
  list-style-type: none;
}

#amounts {
  text-align: left;
  
  background-color: rgb(177, 145, 177);
}
#ingredients {
  text-align: left;
  background-color: pink;
}

#instructions {
  
  background-color: rgb(180, 201, 180);
}