body {
  text-align: center;
}

#give-me-an-idea-button {
  margin: 10px;
}

.carousel-item {
  width: 100%;
  max-height: 260px;
  opacity: 0.75;
  z-index: -1;
}

#drink-img {
  border-radius: 20%;
  max-width: 75%;
  height: auto;
  padding: 10px;
}

ul {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

#amounts {
  text-align: right;
  background-color: rgb(177, 145, 177);
}

#ingredients {
  text-align: left;
  background-color: pink;
  /* padding: -10; */
}

#instructions {
  background-color: rgb(180, 201, 180);
}

h1, h2 {
  margin: 20px;
}

h3, h4 {
  margin: 10px;
}