body {
  text-align: center;
}

#drink-img {
  border-radius: 20%;
  max-width: 75%;
  height: auto;
  padding: 10px;
}
#header-carousel {
  max-width: 100%;
  height: auto;
  opacity: 0.5;
}

ul {
  list-style-type: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

#amounts {
  text-align: right;
  /* background-color: rgb(177, 145, 177); */
}

#ingredients {
  text-align: left;
  /* background-color: pink; */
  padding: -10;
}

#instructions {
  /* background-color: rgb(180, 201, 180); */
}

